{% if latest_game_list %}
        <ul>
        {% for game in latest_game_list %}
        <li>{{ game.nombre }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}