{% extends "base_template.html" %}

{% block title %}Doctores{% endblock %}

{% block content %}
<a href="#" class="btn btn-block btn-primary" data-toggle="modal" data-target="#modal-xl"><span
      class="glyphicon glyphicon-plus"></span> Agregar</a>

<table class="table" data-buttons="buttons" id="table" data-toggle="table">
   <thead>
      <tr>
         <th>Nombre</th>
         <th>Email</th>
         <th data-formatter="operateFormatter" data-events="operateEvents">Acciones</th>
      <tr>
   </thead>
   <tbody>
      {% for person in users %}
      <tr>
         <td>{{ person.name }}</td>
         <td>{{ person.email }}</td>
         <td></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
<div class="modal fade" id="modal-xl">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Agregar Paciente</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="card card-primary">
               <div class="card-header">
                  <h3 class="card-title">Quick Example</h3>
               </div>
               <!-- /.card-header -->
               <!-- form start -->
               <form action="" method="post" novalidate role="form">
                  {{ form.hidden_tag() }}
                  <div class="card-body">
                     <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class_="form-control",placeholder="Nombre") }}
                        {% for error in form.name.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class_="form-control",placeholder="Email") }}
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class_="form-control",placeholder="Password") }}
                        {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                     </div>

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                     {{ form.submit(class_="btn btn-primary btn-block") }}
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>

{% endblock %}
{% block jsscripts %}
<script>
   var $table = $('#table')

   function operateFormatter(value, row, index) {
      return [
         '<a class="like" href="javascript:void(0)" title="Editar">',
         '<i class="fa fa-heart"></i>',
         '</a>  ',
         '<a class="remove" href="javascript:void(0)" title="Remover">',
         '<i class="fa fa-trash"></i>',
         '</a>'
      ].join('')
   }

   window.operateEvents = {
      'click .like': function (e, value, row, index) {
         $("#name").val(row[0])
         $("#email").val(row[1])
         $('#modal-xl').modal('show');
         
      },
      'click .remove': function (e, value, row, index) {
         alert('You click remover action, row: ' + JSON.stringify(row[1]))
      }
   }
</script>
{% endblock %}